.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
    background-color: var(--mainColor);
}

.text{
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.headers{
    font-size: 5rem;
    color: var(--goldColor);
    font-weight: 600;
}

.serviceHeader{
    font-size:2rem;
    color: var(--secondaryColor);
    font-weight: 600;
}

.desc{
    font-size: 1.5rem;
    color: var(--secondaryColor);
}

@media (max-width: 768px) {

    .text{
        max-width: 300px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .text{
        max-width: 300px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1rem;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .text{
        max-width: 400px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1.2rem;
    }


}

@media screen and (min-width: 1200px) {
    .text{
        max-width: 400px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .text{
        max-width: 400px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1.2rem;
    }
}



@media (max-width: 600px) {

    .text{
        max-width: 300px;
    }
    .headers{
        font-size: 3rem;
    }

    .serviceHeader{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1rem;
    }
}
