@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes swipeUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes swipeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.heroContainer {
    background-image: url("../assets/images/hero.jpg"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.heroItem{
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust this value to control the space between the text and the button */
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align:left;
    font-size: 8rem;
    font-weight: 700;
    gap: 0.1rem;
    color:var(--secondaryColor);
    animation: fadeIn 2s ease-in-out;
    -webkit-background-clip: text;
}

.textContainer span {
    margin: -15px 0;
}

.startButton {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--textColor);
    font-weight: 300;
    background-color: var(--mainColor);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing :2px;
    text-align: center;
    animation: swipeIn 1s ease-in-out;
}

.startButton:hover {
    background-color: var(--mainColorLighter);
}


@media screen and (max-width: 768px){
    .textContainer{
        font-size: 4rem;
    }

    .startButton{
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}