@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes swipeUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes swipeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.heroContainer {
    background-image: url("../assets/images/hero.jpg"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.heroItem{
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust this value to control the space between the text and the button */
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align:left;
    font-size: 8rem;
    font-weight: 700;
    gap: 0.1rem;
    color:var(--secondaryColor);
    animation: fadeIn 2s ease-in-out;
    -webkit-background-clip: text;
}

.textContainer span {
    margin: -15px 0;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .textContainer {
        font-size: 5rem; /* Adjusted for extra small devices */
    }

    .heroContainer{
        height: 60vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .textContainer {
        font-size: 5rem; /* Adjusted for extra small devices */
    }
    .heroContainer{
        height: 60vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .textContainer {
        font-size: 6rem; /* Adjusted for small devices */
    }

    .heroContainer{
        height: 60vh;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .textContainer {
        font-size: 7rem; /* Adjusted for small devices */
    }

    .heroContainer{
        height: 70vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .textContainer {
        font-size: 8rem; /* Adjusted for small devices */
    }

    .heroContainer{
        height: 80vh;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .textContainer {
        font-size: 8rem; /* Adjusted for small devices */
    }

    .heroContainer{
        height: 80vh;
    }
}
