@keyframes swipeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background:var(--goldColor)
}

.animate {
    animation: swipeIn 1s ease-in-out;
}
.icon{
    color: var(--mainColor);

}



.iconText{
    font-size: 1.2rem;
    font-weight: 400;
}

.roundImage{
    border-radius: 20%;
}

.itemContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    text-align: center;
    transition: transform 0.3s ease;
}

.itemContainer:hover {
    transform: scale(1.1); /* Add this rule to scale the icon on hover */
}

.text{
    font-size: 0.8rem;
    max-width: 60%;
}

@media screen and (max-width: 768px){

    .container{
        flex-direction: column;
        gap: 20px;
    }
    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left:0;
    }

    .iconText{
        font-size: 0.8rem;
    }

    .text{
        font-size: 0.6rem;
        max-width: 80%;
    }
}

