@keyframes swipeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background:var(--goldColor)
}

.animate {
    animation: swipeIn 1s ease-in-out;
}
.icon{
    color: var(--mainColor);
    font-size: 5rem;

}



.iconText{
    font-size: 1.2rem;
    font-weight: 500;
}

.roundImage{
    border-radius: 20%;
}

.itemContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    text-align: center;
    transition: transform 0.3s ease;
}

.itemContainer:hover {
    transform: scale(1.1); /* Add this rule to scale the icon on hover */
}

.text{
    font-size: 0.8rem;
    max-width: 60%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){

    .container{
        flex-direction: column;
        gap: 15px;
    }

    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left:0;
    }

    .iconText{
        font-size: 1rem;
    }

    .text{
        font-size: 0.8rem;
        max-width: 60%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){

    .container{
        flex-direction: column;
        gap: 15px;
    }

    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left:0;
    }

    .iconText{
        font-size: 1rem;
    }

    .text{
        font-size: 0.8rem;
        max-width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    .container{
        flex-direction: column;
        gap: 15px;
    }

    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left:0;
    }

    .iconText{
        font-size: 1rem;
    }

    .text{
        font-size: 0.8rem;
        max-width: 65%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

    .container{
        flex-direction: row;
        gap: 15px;
    }

    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .iconText{
        font-size: 1rem;
    }

    .text{
        font-size: 0.8rem;
        max-width: 80%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

    .container{
        flex-direction: row;
        gap: 15px;
    }

    .itemContainer{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .iconText{
        font-size: 1.4rem;
    }

    .text{
        font-size: 1rem;
        max-width: 80%;
    }

}

