.container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction:column;
    background-color: var(--mainColor);
}

.textContainer{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.headers{
    color: var(--goldColor);
    font-size: 2rem;
    font-weight: 600;
}

.desc{
    font-size: 0.9rem;
    color: var(--secondaryColor);
}

.priceContainer{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    gap: 300px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.priceBox{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    width: 600px;
    height: 800px;
    border-radius: 30px;
    align-items: center;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    transition: box-shadow 0.3s ease; /* Add this line */
}

.priceBox:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Add this line */
}

.priceText{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 300px;
}

.priceHeader{
    font-size: 1.5rem;
    font-weight: 300;
}

.priceDesc{
    font-size: 0.8rem;
}

.price{
    font-size: 6rem;
    font-weight:900;
    font-style: italic;
}

.priceDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1rem;
}

.details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.priceBtn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--textColor);
    font-weight: 300;
    background-color: var(--mainColor);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing :2px;
    text-align: center;
}

.priceBtn:hover {
    background-color: var(--goldColor);
}

.ptePriceGroup{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fromText{
    padding-top: 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .priceContainer{
        flex-direction: column;
        gap: 20px;
    }

    .headers{
        font-size: 1.2rem;
    }

    .desc{
        font-size: 1rem;
        max-width: 70%;
        margin: 0 auto;
    }

    .price{
        font-size: 3rem;
    }

    .priceDetails{
        font-size: 0.8rem;
    }

    .priceBtn{
        padding: 1rem 1rem;
        font-size: 0.8rem;
    }

    .fromText{
        padding-top: 10px;
    }

    .priceBox{
        width: 400px;
        height: 700px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .priceContainer{
        flex-direction: column;
        gap: 20px;
    }

    .headers{
        font-size: 1.2rem;
    }

    .desc{
        font-size: 1rem;
        max-width: 70%;
        margin: 0 auto;
    }

    .price{
        font-size: 3rem;
    }

    .priceDetails{
        font-size: 0.8rem;
    }

    .priceBtn{
        padding: 1rem 1rem;
        font-size: 0.8rem;
    }

    .fromText{
        padding-top: 10px;
    }

    .priceBox{
        width: 400px;
        height: 700px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .priceContainer{
        flex-direction: column;
        gap: 20px;
    }

    .headers{
        font-size: 1.4rem;
    }

    .desc{
        font-size: 1.2rem;
        max-width: 60%;
        margin: 0 auto;
    }

    .price{
        font-size: 3rem;
    }

    .priceDetails{
        font-size: 0.9rem;
    }

    .priceBtn{
        padding: 1rem 1rem;
    }

    .fromText{
        padding-top: 10px;
    }

    .priceBox{
        width: 400px;
        height: 750px;
    }
    .fromText{
        padding-top: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .priceContainer{
        flex-direction: row;
        gap: 60px;
    }

    .headers{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1.4rem;
        max-width: 60%;
        margin: 0 auto;
    }

    .priceDetails{
        font-size: 1rem;
    }

    .priceDesc{
        font-size: 1rem;
    }

    .price{
        font-size: 3.2rem;
    }

    .priceBox{
        width: 400px;
        height: 750px;
    }

    .fromText{
        padding-top: 20px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .priceContainer{
        flex-direction: row;
        gap: 150px;
    }

    .headers{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1.75rem;
        max-width: 60%;
        margin: 0 auto;
    }

    .priceDetails{
        font-size: 1.1rem;
    }

    .priceDesc{
        font-size: 1rem;
    }

    .price{
        font-size: 3.5rem;
    }

    .priceBox{
        width: 400px;
        height: 800px;
    }

    .fromText{
        padding-top: 30px;
    }

}
