@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.animate {
    animation: fadeIn 2s ease-in-out;
}

.quoteContainer{
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    color: var(--secondaryColor);

}

.quote{
    font-size: 8rem;
    font-weight: 700;
    -webkit-background-clip: text;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .quote{
        font-size: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .quote{
        font-size: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .quote{
        font-size: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .quote{
        font-size: 5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .quote{
        font-size: 6rem;
    }
}

/*@media screen and (min-width: 992px) and (max-width: 1199px) {*/
/*    .quote{*/
/*        font-size: 5rem;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 1200px) {*/
/*    .quote{*/
/*        font-size: 6rem;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 1201px) and (max-width: 1440px) {*/
/*    .quote{*/
/*        font-size: 7rem;*/
/*    }*/

/*}*/

/*@media screen and (min-width: 1441px) {*/
/*    .quote{*/
/*        font-size: 8rem;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 600px){*/
/*    .quote{*/
/*        font-size: 2rem;*/
/*    }*/
/*}*/

