.quoteContainer{
    height: 100%;
    width: 100%;
    position:relative;
}
.quoteImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 1rem;
}

.quote{
    background: var(--textColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
}

.author{
    background: var(--textColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
}