@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.animate {
    animation: fadeIn 2s ease-in-out;
}

.quoteContainer{
    background-color: var(--goldColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    color: var(--mainColor);

}

.quote{
    font-size: 8rem;
    font-weight: 700;
    -webkit-background-clip: text;
}

@media screen and (max-width: 768px){
    .quote{
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px){
    .quote{
        font-size: 2rem;
    }
}

