@keyframes shuffleAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.serviceContainer{
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: flex-start; /* Align content to the top */
    flex-wrap: wrap; /* Allow the container to wrap items */
    padding-bottom: 50px;
}

.headers{
    font-size: 2rem;
    color: var(--secondaryColor);
    font-weight: 600;
    text-align:left;
}

.cardsList{
    height: 200px;
    width: 900px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    /*flex: 1 1 auto; !* Allow the box to grow and shrink *!*/
    /*margin: 10px; !* Add some space around each card *!*/
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    animation: shuffleAnimation 0.5s ease-out forwards;
}

.cardContainer{
    width:100%;
    height:100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:30px;

}

.cardText{
    font-size: 0.8rem;
    color: var(--mainColor);
    align-items: flex-start;
    text-align:left;
}

 /*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .cardsList{
        width: 500px;
        height: 150px;
    }

    .cardText{
        font-size: 0.6rem;
    }

    .headers{
        font-size: 1.2rem;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .cardsList{
        width: 500px;
        height: 150px;
    }

    .cardText{
        font-size: 0.6rem;
    }

    .headers{
        font-size: 1.2rem;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .cardsList{
        width: 670px;
        height: 150px;
    }

    .cardText{
        font-size: 0.7rem;
    }

    .headers{
        font-size: 1.4rem;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .cardsList{
        width: 800px;
        height: 180px;
    }

    .cardText{
        font-size: 0.8rem;
    }

    .headers{
        font-size: 1.5rem;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .cardsList{
        width: 900px;
        height: 200px;
    }

    .cardText{
        font-size: 0.9rem;
    }

    .headers{
        font-size: 1.75rem;

    }
}

